<div class="max-w-7xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Índice de Empleados</h2>
    <a routerLink="/empleados/crear-empleado" class="bg-darkblue text-white px-4 py-2 rounded-md hover:bg-darkorange transition duration-200 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      Crear Empleado
    </a>
  </div>

  <div class="mb-6">
    <div class="relative">
      <input 
        type="text" 
        placeholder="Buscar empleado por nombre o nómina..." 
        class="w-full p-2 pl-10 border border-gray-300 rounded-md" 
        (input)="buscarEmpleados($event)"
      />
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400 absolute left-3 top-2.5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Id
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (empleado of empleados2; track empleado.id) {
          <tr class="hover:bg-gray-50">            
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.id }}</div>
            </td>
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.nombre }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap ">
              <a  [routerLink]="['/empleados/ver-perfil', empleado.id]" class="text-darkorange hover:text-darkblue mr-4">
                Ver Perfil
              </a>
              <a  [routerLink]="['/empleados/editar-empleado', empleado.id]" class="text-amber-300 hover:text-darkblue mr-4">
                Editar Empleado
              </a>
              <button (click)="borrar(empleado.id)" class="text-red-700 hover:text-darkblue mr-4">
                Borrar Empleado
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3" class="px-6 py-4 text-center text-gray-500">
              <p class="text-gray-500 text-lg">No se encontraron empleados que coincidan con tu búsqueda.</p>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Empleado
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nómina
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Fecha Ingreso
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Área
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Puesto
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        @for (empleado of empleadosFiltrados; track empleado.id) {
          <tr class="hover:bg-gray-50">
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="flex items-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full object-cover" src="/panda.jpg" alt="Foto de perfil">
                </div>
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900">{{ empleado.nombre }}</div>
                </div>
              </div>
            </td>
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.nomina }}</div>
            </td>
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.fechaIngreso }}</div>
            </td>
            <td class="px-6 py-3 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.area }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">{{ empleado.puesto }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              
              <a  [routerLink]="['/empleados/ver-perfil', empleado.id]" class="text-darkorange hover:text-darkblue mr-4">
                Ver Perfil
              </a>
              <a  [routerLink]="['/empleados/editar-empleado', empleado.id]" class="text-amber-300 hover:text-darkblue mr-4">
                Editar Empleado
              </a>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="6" class="px-6 py-4 text-center text-gray-500">
              <p class="text-gray-500 text-lg">No se encontraron empleados que coincidan con tu búsqueda.</p>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div> -->


  <!-- <div class="mt-4 flex justify-between items-center">
    <div class="text-sm text-gray-700">
      Mostrando <span class="font-medium">{{ empleados2.length }}</span> de 
      <span class="font-medium">{{ cantidadTotalRegistros }}</span> empleados
    </div>
    <div class="flex space-x-2"> -->
      <!-- Botón Anterior -->
      <!-- <button 
        (click)="actualizarPaginacion('anterior')"
        [disabled]="paginacion.pagina === 1"
        class="px-3 py-1 border border-gray-300 rounded-md bg-white text-sm text-gray-700 hover:bg-gray-50">
        Anterior
      </button>
       -->
      <!-- Botón Siguiente -->
      <!-- <button 
        (click)="actualizarPaginacion('siguiente')"
        [disabled]="paginacion.pagina >= totalPaginas()"
        class="px-3 py-1 border border-gray-300 rounded-md bg-white text-sm text-gray-700 hover:bg-gray-50">
        Siguiente
      </button>
    </div> 
    
  </div>-->

  <div class="mt-4 flex justify-between items-center">
    <div class="text-sm text-gray-700">
      Mostrando 
      <span class="font-medium">{{ inicioRegistro }}-{{ finRegistro }}</span> 
      de <span class="font-medium">{{ cantidadTotalRegistros }}</span> empleados
    </div>
    <div class="flex space-x-2 items-center">
      <!-- Botón Anterior -->
      <button 
        (click)="actualizarPaginacion('anterior')"
        [disabled]="paginacion.pagina === 1"
        class="px-3 py-1 border border-gray-300 rounded-md bg-white text-sm text-gray-700 hover:bg-gray-50">
        Anterior
      </button>
      
      <!-- Mostramos la página actual y el total de páginas -->
      <span class="text-sm text-gray-700">
        Página {{ paginacion.pagina }} / {{ totalPaginas() }} páginas
      </span>
      
      <!-- Botón Siguiente -->
      <button 
        (click)="actualizarPaginacion('siguiente')"
        [disabled]="paginacion.pagina >= totalPaginas()"
        class="px-3 py-1 border border-gray-300 rounded-md bg-white text-sm text-gray-700 hover:bg-gray-50">
        Siguiente
      </button>
    </div>
  </div>
</div>


<!-- <div class="employees-container">
  <div class="header">
    <h1>Empleados</h1>
    <button class="add-button" (click)="openAddModal()">Agregar Empleado</button>
  </div>
  
  <table class="employees-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nómina</th>
        <th>Área</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.nombre }}</td>
        <td>{{ employee.numeroNomina }}</td>
        <td>{{ employee.area }}</td>
        <td>{{ employee.tipoEmpleado === 'Sindicalizado' ? 'Sindicalizado' : 'No Sindicalizado' }}</td>
        <td>{{ employee.categoria || 'N/A' }}</td>
        <td class="actions">
          <button class="edit-button" (click)="openEditModal(employee)">Editar</button> -->
          <!-- <button class="delete-button" (click)="deleteEmployee(employee.id)">Eliminar</button> -->
        <!-- </td>
      </tr>
      <tr *ngIf="employees.length === 0">
        <td colspan="6" class="no-data">No hay empleados registrados</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- Modal para agregar/editar empleado -->
<!-- <app-modal #employeeModal [title]="isEditMode ? 'Editar Empleado' : 'Agregar Empleado'">
  <app-formulario-empleados
    [employee]="selectedEmployee"
    [isEdit]="isEditMode"
    (save)="saveEmployee($event)"
    (cancel)="employeeModal.closeModal()"
  ></app-formulario-empleados>
</app-modal> -->